{{#each posts as |post|}}
<section class="card">
        <div class="card-header">
            <h5 class="card-title">{{post.title}}</h5>  
        </div>
        <div class="card-body">
            <p class="card-text">{{post.description}}</p>
        </div>
        {{!-- partial handler will be added --}}
        <div class="card-footer text-muted">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">comment1</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>   
        </div>   
        {{!--  --}}
</section>
{{/each}}



<form class="card form-group"> 
    <div class="card-body">
        <button type="submit" class="btn btn-primary" id="add-post">Submit</button>  
    </div>
</from>