{{#each posts as |post|}}

<a href="/api/posts/{{id}}">
    <section class="card">
        <div class="card-header">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1 card-title">{{title}}</h4>
                <small>{{format_date createdAt}}</small>
            </div>
        </div>
    </section>
</a>

{{/each}}


<form class="card form-group"> 
    
    <a class="btn btn-primary" id="add-post" href="/api/posts/add"> + ADD POST</a>  

</from>
<script src="./js/script.js"></script>