{{#each posts as |post|}}

<div class="post-list"><a href="/api/posts/{{id}}">{{title}}</a></div>

{{/each}}



<form class="card form-group"> 
    
    <a class="btn btn-primary" id="add-post" href="/api/posts/add"> + ADD POST</a>  

</from>
<script src="./js/script.js"></script>