<form>
  <div class="form-group">
    <label for="add-title">Title :</label>
    <textarea type="text" class="form-control" id="add-title">{{post.title}}</textarea>
  </div>
  
  <div class="form-group">
    <label for="add-description">Content : </label>
    <textarea class="form-control" id="add-description" rows="3">{{post.description}}</textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="edit-post">Edit</button>
  </div>
</form>