<section class="card">
        <div class="card-header">
            <h5 class="card-title">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{post.user.username}}</h6>    
        </div>
        <div class="card-body">
            <p class="card-text">{{post.description}}</p>
        </div>
        <div class="card-footer text-muted">{{post.post_date}}</div>   
</section>