:root {
    --primary: #3d5852;
    --secondary: #86938f;
    --tertiary: #5e877f;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  body {
    font-family: Arial;
  }

  .card {
    width: 80%;
    margin:2%;
    border-style: outset;
  }
  .card-header{
    background-color: var(--dark);
    color:var(--light);
  }

  a {
    color: var(--dark);
    text-decoration: none;
  }
  a:hover .card{
    background-color: #182c23;
  }

  nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
  }
  
  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
 }
 